# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="mysql://root:amitkumar@620299@localhost:3306/dhani-finance"

DATABASE_URL="mysql://u332297522_dhani_finance:Nainakhan@2003@193.203.184.38:3306/u332297522_dhani_finance"

JWT_SECRET="amit"


EMAIL_USER=rk8200370873@gmail.com
EMAIL_APP_PASSWORD=oopu unxn hfss tzvz


CLOUD_NAME=dv5yymidd
CLOUD_API_KEY=891729624222638
CLOUD_API_SECRET=h9RcYUM1S5335c7Gz57sZK3QuNI
CLOUD_FOLDER=kerela_lottery



040-67607600.


Nainakhan@2003
dhani_finance